body {
   background: transparent url(./background.jpg) left top no-repeat;
   background-color: #ebebeb;
}

.guide line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	  opacity: 0;
	}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.textBox{
  font-family: Palatino;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  margin-left: 525px;
  background-color: lightgrey;
  background-repeat: no-repeat;
  width: 400px;
  height: 100px;
  margin-bottom: 300px;
}

div.textBox h2 {
  font-family: Palatino;
    margin-top: 5%;
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    text-anchor: middle;
}
/*WanderWorld*/

div.textBox p {
  font-family: Palatino;
    margin-top: -12%;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
}
/*Explore Together*/


div.otherText {
  font-family: Palatino;
  border: 1px solid black;
  margin-left: 0px;
  font-size: 20px;
  text-align: center;
  /*vertical-align: middle;*/
  /*width: 1000px;*/
  /*height: 300px;*/
}
/*paragraph*/

div.otherText p {
    font-family: Palatino;
    color: #000000;
    font-size: 22px;
    text-align: center;
    vertical-align: top;
}
/*paragraph*/

.header
{
  width:1600px;
  height:400px;
  border: 1px solid black;
  height: 200px;
  width: 400px;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

#sections {
  position: relative;
  width: 1400px;
  /*position: absolute;*/
  top: 0px;
}

.step {
  margin-bottom: 100px;
  /*margin-top: 50px;*/
}

#chart {
  position: fixed;
  height: 600px;
  width: 600px;
  background-color: #ddd;
}

text {
  font-family: Palatino;
  font-size: 17px;
}

text.small {
  font-family: Palatino;
  font-size: 10px;
}

text.question {
  font-family: Palatino;
  font-size: 20px;
  font-weight:bold;
}
text.helper {
  font-family:Palatino;
  font-size:12px;
}
text.resultHeader {
  font-family:Palatino;
  font-size:44px;
  font-weight:bold;
  fill: #c59353;
  stroke: grey;
  stroke-opacity: 0.2;
}
text.pricetext {
  font-family:Palatino;
  font-size:18px;
  fill:#000;
}
.counties {
  fill:none;
}

.d3-tipGraph {
  line-height: 1;
  padding: 6px;
  background: #ebebeb;
  color: black;
  border-color: #444;
  border-radius: 8px;
  border-style: solid;
}


.arrow {
  position: relative;
  bottom: 0;
  margin-left:700px;
  margin-top: 40px;
  width: 40px;
  height: 40px;
  background-image: url(./images/arrow.png);
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
}
.up-arrow {
  position: relative;
  margin-left:700px;
  margin-top: -25px;
  width: 40px;
  height: 40px;
  background-image: url(./images/up-arrow.png);
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  white-space:nowrap;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.place,
.place-label {
  fill: #444;
  font-family: Palatino;
  font-size: 15px;
  font-weight: bold;
  margin-left: 25px;
  background-color: white;
  background-size: 100px;
}

.select{
  position: absolute;
  margin-top: -750px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
}

.datePick {
  position: absolute;
  margin-top: -540px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
  width: 300px;
  padding: 10px;
  z-index: 1;
}
#minDays {
  position: absolute;
  margin-top: -395px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
  width: 200px;
  padding: 10px;
  z-index: 1;
}
#numDays {
 position: absolute;
 margin-top: -310px;
 margin-left: 20px;
 font-family: Palatino;
 font-size: 17px;
 width: 200px;
 padding: 10px;
 z-index: 1;
}
#direct-controls {
  position: absolute;
  margin-top: -265px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
  width: 200px;
  padding: 10px;
  z-index: 1;
}

#budget {
  position: absolute;
  margin-top: -225px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
  width: 200px;
  padding: 10px;
}


.subunit-label {
  fill: #c59353;
  fill-opacity: .5;
  font-size: 11px;
  color: #c59353;
  text-anchor: middle;
  alignment-baseline: central;
}

#multDropDown {
  position: absolute;
  margin-top: -665px;
  margin-left: 20px;
  font-family: Palatino;
  font-size: 17px;
  width: 200px;
  height: 80px;
  padding: 10px;
  z-index: 1;
}

.selected{
  fill("grey")
}

table.GeneratedTable {
  width:100%;
  background-color: white;
  border-collapse:collapse;
  border-width:1px;
  border-color:#c59353;
  border-style:groove;
  color: black;
  font-family: Palatino;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#c59353;
border-style:groove;
padding:2px;
}

table.GeneratedTable thead {
background-color: #c59353;
}

.node {
    fill: lightgrey;
    stroke: black;
    stroke-width: 1px;
}

.link {
    stroke-width: 2.6px;
}

.palma {
  z-index: -1;
  opacity: 1;
  fill: black;
}
.book {
  position: absolute;
  margin-top: -510px;
  margin-left: 595px;
  font-family: Palatino;
  font-size: 17px;
  width: 120px;
  height: 20px;
  z-index: 1;
  opacity: 0;
}


.d3-tip {
  width: 310px;
  line-height: 1;
  padding: 6px;
  background: white;
  color: black;
  border-width: 1px;
  border-color: grey;
  border-radius: 8px;
  border-style: solid;
  position: [400,115];
}

.svg-classed{
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  z-index:-1;
}

#results-box{
 z-index: 1 
}